body,
ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, serif;
}

.menu {
  background-color: #6c584c;
  padding: 12px;
}

.menu-container {
  max-width: 960px;
  margin: 0 auto;
  overflow: auto;
}

a.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}

.menu-nav {
  float: right;
  margin-right: 10px;
}

.menu-nav li {
  list-style: none;
  display: inline-block;
}

.menu-nav a {
  color: #f0ead2;
  text-decoration: none;
  display: block;
  font-size: 1.125em;
  padding: 10px;
  border-right: 2px solid #f0ead21a;
}

.intro {
  color: #f0ead2;
  padding: 150px 0;
  text-align: center;
  background: url("./img/bg-intro.jpg") center/cover no-repeat;
}

.intro h1 {
  font-size: 3em;
  text-transform: uppercase;
}

.intro h1::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin: 20px auto;
  background-color: #f0ead256;
}

.intro p {
  font-size: 1.125em;
}

.sobre {
  padding: 60px;
}

.sobre h2 {
  font-size: 2.25em;
  text-align: center;
  color: #6c584c;
  margin-bottom: 60px;
}

.sobre-container {
  margin: 50px auto;
  max-width: 960px;
  overflow: auto;
}

.sobre-item {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.sobre-item img {
  max-width: 100%;
  display: block;
}

.sobre-item h3 {
  position: relative;
  top: -25px;
  width: 220px;
  background: #a98467;
  color: #f0ead2;
  padding: 5px 0 10px;
  text-transform: lowercase;
  font-style: italic;
  text-align: center;
  font-size: 2.25em;
  font-weight: normal;
}

.sobre > p {
  /*>p filho direto da classe sobre-container*/
  line-height: 1.4;
  font-size: 1.125em;
  font-style: italic;
  color: #4e3c30;
  max-width: 460px;
  margin: 20px auto;
  text-align: center;
}
