$tema: oceano;
$primary-color: black;
$secondary-color: gray;

@if $tema == oceano {
  $primary-color: blue;
  $secondary-color: orange;
} @else if $tema==deserto {
  $primary-color: yellow;
  $secondary-color: purple;
}

@mixin device($device) {
  @if $device==m {
    @media (max-width: 300px) {
      @content;
    }
  } @else if($device==t) {
    @media (max-width: 600px) {
      @content;
    }
  } @else if($device==s) {
    @media (max-width: 900px) {
      @content;
    }
  }
}

div {
  font-size: 1.5em;

  @include device(t) {
    font-size: 1.2em;
  }
  @include device(m) {
    font-size: 10em;
  }
}

p {
  color: $primary-color;
  background-color: $secondary-color;
}

$roxo: #8844ee;
a {
  background-color: $roxo;
  color: white;
  &:hover {
    background: lighten($roxo, 20%);
  }
}

@mixin title-large {
  font-size: 4em;
  line-height: 1;
  font-weight: bold;
  font-family: monospace;
  background-color: palevioletred;
  text-align: center;
  color: white;
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

h1 {
  @include title-large;
  @include box-shadow(
    5px 5px 0 0 rgba(0, 0, 0, 0.5),
    5px 5px 0 0 rgba(0, 0, 0, 0.5)
  );
  @include mobile {
    font-size: 14px;
    color: rgb(3, 3, 3);
  }
}
