ul {
  text-align: center;
}

ul li {
  list-style: none;
  display: inline-block;
}

ul li a {
  padding: 20px;
  display: block;
  text-decoration: none;
  color: white;
  background-color: yellowgreen;
}

ul li a:hover {
  background-color: yellow;
}
