<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>CSS GRID</title>
</head>
<body>
  <header class="header">
    <a href="#">Logo</a>
    <div class="menu-mobile">
    </div>
    <nav class="menu"> 
      <li><a>Sobre</a></li>
      <li><a>Produtos</a></li>
      <li><a>Contato</a></li>
    </nav>
  </header>

  <h1>CSS GRID</h1>
  <section class="grid1">
    <div>
        <img src="./img/lobo1.jpg" alt="lobo">
        <p>Legenda</p>
    </div>
    <div>
        <img src="./img/lobo1.jpg" alt="lobo">
        <p>Legenda</p>
    </div>
    <div>
        <img src="./img/lobo1.jpg" alt="lobo">
        <p>Legenda</p>
    </div>
    <div>
        <img src="./img/lobo1.jpg" alt="lobo">
        <p>Legenda</p>
    </div>
        <div>
        <img src="./img/lobo1.jpg" alt="lobo">
        <p>Legenda</p>
    </div>
    <div>
        <img src="./img/lobo1.jpg" alt="lobo">
        <p>Legenda</p>
    </div>
    <div>
        <img src="./img/lobo1.jpg" alt="lobo">
        <p>Legenda</p>
    </div>
    <div>
        <img src="./img/lobo1.jpg" alt="lobo">
        <p>Legenda</p>
    </div>
        <div>
        <img src="./img/lobo1.jpg" alt="lobo">
        <p>Legenda</p>
    </div>
    <div class="anuncio">
        <img src="./img/lobo1.jpg" alt="lobo">
        <p>Anúncio</p>
    </div>
  </section>
  <footer class="footer">
    <p>&copy; Todos os direitos reservados.</p>
  </footer>
</body>
</html>


